<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mind Head</title>
    <link href="/css/moon.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>This is Mind Head</h1>
    <p>
      Welcome to Mind Head. A place where we monitor the minds in animanls heads
    </p>
    <p>If you are wondering if humans are among animals, you damn skippy!!!</p>
    <a href="http://www.espnfc.us">sports update</a>
  </body>
  <script type="module"></script>
</html>
